<div class= background-new-factory style="background-image: url('https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHdvb2QlMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80');">
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Add a new factory 🍻</h3>
        <%= simple_form_for (@factory) do |f| %>
          <%= f.input :name, placeholder: 'Enter the name of your factory' %>
          <%= f.input :location, placeholder: 'Where is located your factory?' %>
          <%= f.input :description, prompt: 'Tell us more about your Craft beer factory', input_html: { class: 'select2' } %>
          <%= f.input :price_per_day, placeholder: 'What is the price per person?' %>
          <%= f.input :capacity, placeholder: 'What is the maximum capacity?' %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
