
<div class="factory-show-layout">
  <div class="previous-button">
    <%= link_to '←', factories_path %>
  </div>
  <br>
  <h2><%= @factory.name %></h2>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
      <%= render 'shared/carrousel' %>
      </div>

      <div class="price-guest-layout">
        <div class="col">
          <h2 class="card-trip-pricing"><%= @factory.price_per_day %> €</h2>
          <h2><%= @factory.capacity %> guests</h2>
        </div>
      </div>

    </div>
  </div>

  <br>
  <h2>Exceptional beers aged in oak barrels</h2>
  <p>À la Fût is always striving to offer high quality brews and to keep on innovating. We have been amongst the first microbreweries in Québec to use cans, to brew beer aged in oak barrels, to develop sour beers with Brettanomyces yeast, to offer beer aged in oak barrels in cans, and to create collaborative brews with other microbreweries in Québec, Ontario and soon the United States.À la Fût stands out on the Québec brewing landscape with its specialty beers. As such, we have won over 30 distinctive awards since 2010 in London, the United States and Canada. The Rouge de Mékinac alone has won 13 awards including the “2012 Beer of the Year in Canada” and the world’s best Kriek-style beer in 2014 and 2015. Our 400 barrel cellar is now one of the largest in Québec. The brewery will soon house a tasting room; but in the meantime, it offers guided tours of the brewery during the summer as part of the Western Kapibouska Village, or overbooking for groups.</p>
  <p><%= @factory.location %></p>
  <br>
  <h2>Which kind of beer do we offer ?</h2>
  <br>

  <%= render 'beers/beer-card' %>

  <br>
  <h2>     Where can you find us?</h2>
  <br>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://miro.medium.com/max/1200/1*qYUvh-EtES8dtgKiBRiLsA.png)">
  </div>
</div>
