<h1>Welcome to your dashboard</h1>
<div class="container-dashboard">
<h2>Your bookings</h2>
<div class="card-grid">
<% @bookings.each do |booking| %>
<div class="booking-card">
<h5><%= booking.name %></h5>
<p>Start Date: <%= booking.start_date %></p>
<p>End Date: <%= booking.end_date %></p>
<p>Total days: <%= (booking.end_date - booking.start_date).to_i %></p>
<p>Total price: $<%= booking.agreed_price %></p>
<p>Booking status: <%= booking.status %></p>
</div>
<% end %>
</div>
<h2>Your requests</h2>
<div class="card-grid">
<% @bookings.each do |booking| %>
<% if booking.pending? %>
<div class="booking-card">
<h5><%= booking.user.email %></h5>
<p>Start Date: <%= booking.start_date %></p>
<p>End Date: <%= booking.end_date %></p>
<p>Total days: <%= (booking.end_date - booking.start_date).to_i %></p>
<p>Total price: $<%= booking.agreed_price %></p>
<p>booking status: <%= booking.status %></p>
<%= link_to "Accept", booking_path(booking,{status: "accepted"}), method: :patch, class: "btn-accept"  %>
</div>
<% end %>
<% end %>
</div>
</div>
